<div class="di">
    <h1 class="card-title">IsaqueMail</h1>
    <h4 class="card-title">O serviço de emails do Isaque.</h4>
    <br>
    <br>
    <a href="/envio/emails"><button class="btn btn-outline-success">Enviar emails</button></a>
</div>


<style>
.di {
  padding: 20px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.text {
  resize: none;
  min-height: 600px;
}
</style>
