<div class="card bg-dark text-white center">
  <div class="card-body">
    <h1 class="card-title center">{{titulo}}</h1>
    <br>
    <br>
    <p class="card-text center">{{conteudo}}</p>
    <br>
    <br>
    <br>
    <a href="{{link}}"><button class="btn btn-outline-success">Comprar do autor</button></a>
  </div>
</div>
